.title {
    position: relative;
    padding: 2rem;
    text-align: center;
    padding-top: 5rem;

    .headers {
        color: #949EA0;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 300;

        h1 {
            font-size: 40px;
        }

        span {
            font-size: 17px;
            opacity: 0.7;
        }
    }
}
.btn-top {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -50%);
}

button {
    align-items: center;
    margin: 2rem auto;
}

@media (max-width: 1090px) {
    .btn-top {
        display: none;
        color: blue !important;
    }   
}