<div class="list">

    <div class="flower-card-list" *ngIf="dataType == 'flowers' && dataList?.length !== 0">
        <fs-flower-card *ngFor="let flower of  (!dataList?.length ? (dataList | async) : dataList )" [flower]="flower" (click)="navigateToDetails('flower', utils.getDataFromInsideObj(flower, 'id'))"></fs-flower-card>
    </div>

    <div class="sighting-card-list" *ngIf="dataType == 'sightings' && dataList?.length !== 0">
        <fs-sighting-card *ngFor="let sighting of (!dataList?.length ? (dataList | async) : dataList)" [sighting]="sighting" (click)="navigateToDetails('sighting', sighting.id)"></fs-sighting-card>
    </div>

    <div class="no-data-text" *ngIf="dataList?.length == 0">No data to display</div>
</div>