.card-list {
    margin: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
}

@media (min-width: 1400px) {
    .card-list {
        grid-template-columns: repeat(5, auto);
    }
}

@media (max-width: 912px) {
    .card-list {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 520px) {
    .card-list {
        grid-template-columns: repeat(2, auto);
    }
}