.flower-card-list, .sighting-card-list {
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
}

.no-data-text {
    text-align: center;
    margin: 3rem;
    color: #949EA0;
}

@media (min-width: 1400px) {
    .flower-card-list {
        grid-template-columns: repeat(5, auto);
    }
    .sighting-card-list {
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 912px) {
    .flower-card-list {
        grid-template-columns: repeat(3, auto);
    }
    .sighting-card-list {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 520px) {
    .flower-card-list {
        grid-template-columns: repeat(2, auto);
    }
    .sighting-card-list {
        grid-template-columns: repeat(1, auto);
    }
}