<div class="create">
    <div class="bg-image"></div>

    <div class="content">
        <div class="actions">
            <button class="primary-btn">View on Google Maps</button>
        </div>

        <div class="content-form">
            <div class="title">
                <h1>Discover flowers around you</h1>
                <span>Explore between more than 8.427 sightings</span>
            </div>

            <div class="content-body">
                <div class="image-inputs">

                    <div class="form-input">
                        <input type="text" name="title" id="email" placeholder=" ">
                        <label for="title">Title of the sighting</label>
                    </div>

                    <div class="form-input">
                        <input type="text" name="cordinates" id="cordinates" placeholder=" ">
                        <label for="cordinates">Coordinates of the sighting</label>
                    </div>

                    <div class="photo-input">
                        <label for="picture" class="primary-btn-outline">
                            <span class="material-symbols-outlined">add_a_photo</span>
                            <p>Add a Photo</p>
                        </label>
                        <input type="file" id="picture">
                    </div>
                </div>

                <div class="form-input">
                    <textarea type="text" name="description" id="description" placeholder=" " rows="6"></textarea>
                    <label for="description">Write a description…</label>
                </div>
            </div>
            <div class="create-btn">
                <button class="primary-btn">Create New Sighting</button>
            </div>
        </div>
    </div>
</div>