<div class="header">
    <div class="logo-sec">
        <img src="../../../assets/flower 1.png" alt="logo">
        <h2 class="text-accent">FlowrSpot</h2>
    </div>
    <div class="navbar">
        <div class="list">
            <span class="item">Flowers</span>
            <span class="item">Latest Sightings</span>
            <span class="item">Favorites</span>
            <div>
                <span class="item text-accent" (click)="modalService.open('modal', 'login')">Login</span>
                <span class="item primary-rounded-btn" (click)="modalService.open('modal', 'register')">New Account</span>
            </div>

            <!-- <div class="profile-header">
                <span class="item">John Duo</span>
                <div>
                    <img src="../../../assets/menu_profile_holder.png" alt="profile-sm-img">
                </div>
            </div> -->
        </div>

        <!-- <span class="material-symbols-outlined icon">menu</span> -->
    </div>
</div>