<div class="header">
    <div class="logo-sec">
        <img src="../../../assets/flower 1.png" alt="logo">
        <h2 class="text-accent">FlowrSpot</h2>
    </div>
    <div class="navbar">
        <!-- <div>
            <span class="item">Flowers</span>
            <span class="item">Latest Sightings</span>
            <span class="item">Favorites</span>
            <span class="item text-accent">Login</span>
            <span class="item primary-rounded-btn">New Account</span>
        </div> -->

        <span class="material-symbols-outlined icon">menu</span>
    </div>
</div>