<div class="sighting">
    <div class="location">
        <span class="material-symbols-outlined icon">location_on</span>
        <span>San Francisco, US</span>
    </div>
    <div class="bg-image"></div>

    <div class="content">

        <div class="uploaded-by">
            <img src="../../../assets/profile-holder.png" alt="uploaded-by">
            <div>
                <div class="name">Balcony Flower</div>
                <span class="user-name">by Adam Moore</span>
            </div>
        </div>

        <div class="description">
            Platycodon grandiflorus (from Ancient Greek πλατύς "wide" and κώδων "bell") is a species of herbaceous flowering perennial plant of the …
        </div>

        <div class="info">
            <div class="comments">
                <span class="material-symbols-outlined icon">chat</span>
                <span>18 Comments</span>
            </div>
            <div class="likes">
                <span class="material-symbols-outlined icon">favorite</span>
                <span>12 Favorites</span>
            </div>
        </div>
    </div>
</div>
