<div class="sighting" [ngClass]="{'hr-card': cardType == 'horizontal'}">
    <div class="location">
        <span class="material-symbols-outlined icon">location_on</span>
        <span>San Francisco, US</span>
    </div>
    <div class="bg-image" [style.backgroundImage]="'url('+ sighting.picture +')'"></div>

    <div class="content">

        <div class="uploaded-by">
            <img src="../../../assets/profile-holder.png" alt="uploaded-by">
            <div>
                <div class="name">{{sighting.flower.name}}</div>
                <span class="user-name">by {{sighting.user.full_name}}</span>
            </div>
        </div>

        <div class="description">{{sighting.description}}</div>

        <div class="info">
            <div class="comments">
                <span class="material-symbols-outlined icon">chat</span>
                <span>{{sighting.comments_count}} Comments</span>
            </div>
            <div class="likes">
                <span class="material-symbols-outlined icon">favorite</span>
                <span>{{sighting.likes_count}} Favorites</span>
            </div>
        </div>
    </div>
</div>