.form-input {
    margin: 10px 0;
}

h2 {
    margin-bottom: 2rem;
}

.name-field {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.create-btn {
    margin: 1.5rem 0;

    button {
        border: 0;
        padding: 1rem;
        width: 100%;
        font-size: 15px;
    }
}

.cancel-text {
    margin-top: 1rem;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}