<div class="modal-bg">

    <div class="modal">
        <div *ngIf="type == 'register'">
            <h2>Create an Account</h2>
            <div class="name-field">
                <div class="form-input">
                    <input type="text" autocomplete="name" name="firstName" id="firstName" placeholder=" " [(ngModel)]="user.first_name">
                    <label for="firstName">First Name</label>
                </div>
                <div class="form-input">
                    <input type="text" autocomplete="family-name" name="lastName" id="lastName" placeholder=" " [(ngModel)]="user.last_name">
                    <label for="lastName">Last Name</label>
                </div>
            </div>

            <div class="form-input">
                <input type="date" name="date" id="date" placeholder=" " [(ngModel)]="user.date_of_birth">
                <label for="date">Date of Birth</label>
            </div>

            <div class="form-input">
                <input type="email" autocomplete="email" name="email" id="email" placeholder=" " [(ngModel)]="user.email">
                <label for="email">Email Address</label>
            </div>

            <div class="form-input">
                <input type="password" autocomplete="new-password" name="password" id="password" placeholder=" " [(ngModel)]="user.password">
                <label for="password">Password</label>
            </div>
        </div>

        <div *ngIf="type == 'login'">
            <h2>Welcome Back</h2>
            <div class="form-input">
                <input type="email" autocomplete="email" name="email" id="email" placeholder=" " [(ngModel)]="user.email">
                <label for="email">Email Address</label>
            </div>

            <div class="form-input">
                <input type="password" autocomplete="current-password" name="password" id="password" placeholder=" " [(ngModel)]="user.password">
                <label for="password">Password</label>
            </div>
        </div>

        <div class="create-btn">
            <button class="primary-btn" *ngIf="type == 'register'" (click)="submit('register')">Create Account</button>
            <button class="primary-btn" *ngIf="type == 'login'" (click)="submit('login')">Login to your Account</button>
        </div>
    </div>
    <span class="cancel-text" (click)="modalService.close()">I don't want to {{type == 'login' ? 'Login':'register'}}</span>

</div>