<div class="comments">
    <div class="head">
        <h2>{{comments?.length}} Comments</h2>
        <button class="primary-btn-outline">Add Comment</button>
    </div>

    <div class="comment" *ngFor="let comment of comments">
        <div class="uploaded-by">
            <img src="../../../../assets/profile-holder.png">
            <div>
                <div class="name">{{comment.user_full_name}}</div>
                <span class="subtitle"> 4 days ago</span>
            </div>
        </div>
        <div class="comm-text">{{comment.content}}</div>
    </div>

    <div class="comment-form">
        <div class="form-input">
            <textarea type="text" name="comment" id="comment" placeholder=" " rows="6" [(ngModel)]="content"></textarea>
            <label for="comment">Write a comment...</label>
        </div>
        <button class="primary-btn" (click)="createComment()" type="submit">Publish Comment</button>
    </div>

</div>