.sighting {
    position: relative;

    .bg-image {
        position: absolute;
        width: 100%;
        height: 350px;
        background: linear-gradient(180deg, rgba(249, 249, 249, 0.0001) 0%, #F9F9F9 100%), url(../../../../assets/Map.png);
    }

    .content {
        position: relative;
        padding-top: 10rem;

        .actions {
            display: flex;
            justify-content: end;
            margin: 2rem 1rem;

            button {
                margin-left: 2rem;
            }
        }
    }
}

@media (max-width: 700px) {
    .sighting .content .actions {
        position: absolute;
        top: 0;
        margin: 2rem auto;
        justify-content: center;
        width: 100%;

        button {
            margin: 0 .5rem;
        }
    }
}