<div class="sighting">
    <div class="bg-image"></div>

    <div class="content">
        <div class="actions">
            <button class="primary-btn new-btn">View on Google Maps</button>
            <button class="primary-btn new-btn">Report</button>
        </div>

        <fs-sighting-card [sighting]="testItem" [cardType]="'horizontal'"></fs-sighting-card>
    </div>

    <div class="comments">
        <div class="head">
            <h2>14 Comments</h2>
            <button class="primary-btn new-btn">Add Comment</button>
        </div>

        <div class="comment">
            <div class="uploaded-by">
                <img src="../../../../assets/profile-holder.png">
                <div>
                    <div class="name">Balcony Flower</div>
                    <span class="subtitle"> 4 days ago</span>
                </div>
            </div>
            <div class="comm-text">
                So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his
                motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock
                company of two; that my free will had received a mortal wound; and that another's mistake or misfortune
                might plunge innocent me into unmerited disaster and death.
            </div>
        </div>
        <div class="comment">
            <div class="uploaded-by">
                <img src="../../../../assets/profile-holder.png">
                <div>
                    <div class="name">Balcony Flower</div>
                    <span class="subtitle"> 4 days ago</span>
                </div>
            </div>
            <div class="comm-text">
                So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his
                motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock
                company of two; that my free will had received a mortal wound; and that another's mistake or misfortune
                might plunge innocent me into unmerited disaster and death.
            </div>
        </div>
        <div class="comment">
            <div class="uploaded-by">
                <img src="../../../../assets/profile-holder.png">
                <div>
                    <div class="name">Balcony Flower</div>
                    <span class="subtitle"> 4 days ago</span>
                </div>
            </div>
            <div class="comm-text">
                So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his
                motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock
                company of two; that my free will had received a mortal wound; and that another's mistake or misfortune
                might plunge innocent me into unmerited disaster and death.
            </div>
        </div>
        <div class="comment">
            <div class="uploaded-by">
                <img src="../../../../assets/profile-holder.png">
                <div>
                    <div class="name">Balcony Flower</div>
                    <span class="subtitle"> 4 days ago</span>
                </div>
            </div>
            <div class="comm-text">
                So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his
                motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock
                company of two; that my free will had received a mortal wound; and that another's mistake or misfortune
                might plunge innocent me into unmerited disaster and death.
            </div>
        </div>

        <div class="comment-form">
            <div class="form-input">
                <textarea type="text" name="comment" id="comment" placeholder=" " rows="6"></textarea>
                <label for="comment">Write a comment...</label>
            </div>
            <button class="primary-btn new-btn">Publish Comment</button>
        </div>

    </div>
</div>