.home {
    margin: 1rem 0;

    .bg-img {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%), url(../../../assets/home-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        text-align: center;

        .content {
            margin: 0 2.5rem;

            .bg-text {
                margin-bottom: 2.5rem;

                h1 {
                    margin: .5rem 0;
                    font-size: 40px
                }

                span {
                    font-family: 'Playfair Display';
                    font-size: 17px;
                    opacity: 0.7;
                }
            }
        }
    }
}

.card-list {
    margin: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
}

@media (min-width: 1400px) {
    .card-list {
        grid-template-columns: repeat(5, auto);
    }
}

@media (max-width: 912px) {
    .card-list {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 520px) {
    .card-list {
        grid-template-columns: repeat(2, auto);
    }
}