<div class="home">
    <div class="bg-img">
        <div class="content">
            <div class="bg-text">
                <h1>Discover flowers around you</h1>
                <span>Explore between more than 8.427 sightings</span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Looking for something specific?">
                <span class="material-symbols-outlined">search</span>
            </div>
        </div>
    </div>

    <fs-flowers></fs-flowers>
</div>
