<div class="card" [style.backgroundImage]="'url('+ utils.getDataFromInsideObj(flower, 'profile_picture') +')'">
    <div class="gradient">
        <div class="favorite-icon" *ngIf="user?.id" [ngClass]="{'bg-primary': utils.getDataFromInsideObj(flower, 'favorite')}" (click)="toggleFavorite($event, flower)">
            <span class="material-symbols-outlined">star</span>
        </div>
        <div class="content">
            <span class="title">{{utils.getDataFromInsideObj(flower, 'name')}}</span>
            <span class="subtitle">{{utils.getDataFromInsideObj(flower, 'latin_name')}}</span>
            <span class="footer" [ngClass]="{'bg-primary': utils.getDataFromInsideObj(flower, 'favorite')}">{{utils.getDataFromInsideObj(flower, 'sightings')}} sightings</span>
        </div>
    </div>
</div>
