<div class="flower">
    <div class="bg-image" [style.backgroundImage]="'url('+ flower.profile_picture +')'">
        <div class="gradient"></div>
    </div>

    <div class="content">
        <div class="sm-image" [style.backgroundImage]="'url('+flower.profile_picture+')'"></div>

        <div class="sm-info">

            <div class="title-info">
                <div class="sight-fav">
                    <div class="favorite-icon" [ngClass]="{'bg-primary': utils.getDataFromInsideObj(flower, 'favorite')}">
                        <span class="material-symbols-outlined">star</span>
                    </div>
                    <span class="footer" [ngClass]="{'bg-primary': utils.getDataFromInsideObj(flower, 'favorite')}">{{flower.sightings}} sightings</span>
                </div>

                <h2>{{flower.name}}</h2>
                <span class="subtitle">{{flower.latin_name}}</span>
            </div>

            <button class="primary-btn" [routerLink]="'/flower/'+ route.snapshot.params['id']+ '/sighting-create'">
                <span class="material-symbols-outlined">add</span>
                <span>Add New Sighting</span>
            </button>
        </div>

    </div>

    <div class="description-info">

        <div class="about-info">
            <span>Kingdom: Plantae</span>
            <span>Order: Asterales</span>
            <span>Family: Campanulaceae</span>
            <span>Species: P. grandiflorus</span>
        </div>

        <div class="description">{{flower.description}}
        </div>

    </div>

    <fs-list [dataList]="flowerSightings" [dataType]="'sightings'"></fs-list>

</div>