.flower {
    position: relative;

    .bg-image {
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 100%;
        .gradient {
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.4) 100%);
        }
    }

    .content {
        display: grid;
        grid-template-columns: 280px auto;
        align-items: center;
        position: relative;
        padding-top: 4.5rem;
        margin: 0 1.5rem;

        .sm-image {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
            border-radius: 3px;
            height: 350px;
        }

        .sm-info {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin: 0 5rem;
        }

        .title-info {
            color: #FFFFFF;

            .sight-fav {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                .favorite-icon {
                    font-size: 3px;
                    background: #FFFFFF;
                    color: #D4D8D9;
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    padding: .2rem;
                    user-select: none;
                    width: fit-content;
                    cursor: pointer;
                }

                .footer {
                    font-weight: 400;
                    font-size: 13px;
                    padding: .5rem 1rem;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 20px;
                    margin: 0 .5rem;
                }
            }

            h2 {
                font-weight: 300;
                font-size: 35px;
                margin: .5rem 0;
            }

            .subtitle {
                font-size: 14px;
                opacity: 0.7;
            }
        }
    }

    .description-info {
        display: grid;
        grid-template-columns: auto auto;
        color: #949EA0;
        text-align: justify;
        margin: 0 2rem;
        padding-bottom: 1rem; 
        border-bottom: 1px solid #E8E9ED;

        .about-info {
            display: flex;
            flex-direction: column;
            font-weight: 700;
            font-size: 13px;
            margin-top: 3rem;
            margin-right: 8.5rem;
            line-height: 25px;
        }

        .description {
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            margin: 0 4.5rem;
        }
    }
}

@media (max-width: 700px) {
.content{
    padding-top: 10rem !important;
    
    .sm-image {
        display: none;
    }

    .sm-info {
        flex-direction: column;
        align-items: unset !important;
        justify-content: unset !important;
        margin: 0 !important;

        .title-info {
            margin-bottom: 3rem;
        }
    }

   
}
 .description-info {
     display: flex !important;
     flex-direction: column;
     border-bottom: unset !important;

     .description {
        margin: 3rem 0 0 0 !important;
     }
 }
}