@import 'material-symbols';

$primary-bg-color: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
$primary-color: #EAA79E;
$primary-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);

body {
    margin: 0;
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.text-accent {
    color: $primary-color !important;
}

.bg-primary {
    background: $primary-bg-color !important;
    color: #ffffff !important;
}

.primary-rounded-btn {
    color: #ffffff !important;
    padding: .8rem 1.5rem !important;
    margin: 0 !important;
    background: $primary-bg-color;
    box-shadow: $primary-shadow;
    border-radius: 50px;
}

.primary-btn, .primary-btn-outline {
    color: #ffffff !important;
    border: none;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: .9rem 2rem;
    background: $primary-bg-color;
    box-shadow: $primary-shadow;
    border-radius: 3px;
    cursor: pointer;

    p {
        margin: 0 10px;
    }
}

.primary-btn-outline {
    color: $primary-color !important;
    background: #ffffff;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.input-search-group {
    font-family: 'Ubuntu';
    position: relative;
    width: 65vw;
    margin: 1rem auto;

    input {
        padding: 1.5rem 1rem;
        border: unset;
        outline: unset;
        width: 100%;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        font-weight: 300;
        font-size: 18px;
        line-height: 18px;
        color: #949EA0;
        box-sizing: border-box;
    }

    span {
        position: absolute;
        right: 1rem;
        font-size: 2rem;
        top: 50%;
        transform: translate(0%, -50%);
        color: $primary-color;
    }
}

@media (max-width: 500px) {
    .input-search-group {
        input {
            font-size: 13px !important;
        }
        
        span {
            font-size: 20px;
        }
    }
}


// Custom form inputs with floating label
.form-input {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin: 10px;
    position: relative;
    user-select: none;

    label,
    input, textarea {
        transition: all 0.2s;
        touch-action: manipulation;
        font-size: 18px;
    }

    label {
        color: #949EA0;
        position: absolute;
        padding: 1rem;
        cursor: text;
        left: 0;

    }

    input, textarea {
        background: #F5F6F7;
        border: 1px solid #DFE5EA;
        border-radius: 3px;
        color: #334144;
        font-family: inherit;
        outline: 0;
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;

        &:focus {
            outline: 0;
            border: 1px solid #666;
        }

        &:not(:placeholder-shown)+label, &:focus+label {
            transform: translate(-.7rem, -1rem) scale(.7);
            padding: 1rem;
        }
    }

}